<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="helloWorld" class="com.tutorialspoint.HelloWorld">
		<property name="message" value="Hello World!" />
	</bean>

	<bean id="singletonHelloWorld" class="com.tutorialspoint.HelloWorld" />

	<bean id="prototypeHelloWorld" class="com.tutorialspoint.HelloWorld"
		scope="prototype" />

	<bean id="parentHelloWorld" class="com.tutorialspoint.beandefinitioninheritance.HelloWorld">
		<property name="message1" value="Hello World!" />
		<property name="message2" value="Hello Second World!" />
	</bean>

	<bean id="childHelloIndia" class="com.tutorialspoint.beandefinitioninheritance.HelloIndia"
		parent="parentHelloWorld">
		<property name="message1" value="Hello India!" />
		<property name="message3" value="Namaste India!" />
	</bean>

	<bean id="beanTemplate" abstract="true">
		<property name="message1" value="Hello World!" />
		<property name="message2" value="Hello Second World!" />
		<property name="message3" value="Namaste India!" />
	</bean>

	<!-- Definition for textEditor bean -->
	<bean id="textEditorWithConstructor"
		class="com.tutorialspoint.dependencyinjection.TextEditorWithConstructor">
		<constructor-arg ref="spellChecker" />
	</bean>

	<bean id="textEditorWithSetter"
		class="com.tutorialspoint.dependencyinjection.TextEditorWithSetter">
		<property name="spellChecker" ref="spellChecker" />
	</bean>

	<!-- Definition for spellChecker bean -->
	<bean id="spellChecker" class="com.tutorialspoint.dependencyinjection.SpellCheckerImpl">
	</bean>

	<bean id="textEditorWithInnerBean"
		class="com.tutorialspoint.dependencyinjection.TextEditorWithSetter">
		<property name="spellChecker">
			<bean id="innerSpellChecker"
				class="com.tutorialspoint.dependencyinjection.SpellCheckerImpl" />
		</property>
	</bean>

	<!-- Definition for javaCollection -->
	<bean id="javaCollection" class="com.tutorialspoint.injectingcollection.JavaCollection">

		<!-- results in a setAddressList(java.util.List) call -->
		<property name="addressList">
			<list>
				<value>INDIA</value>
				<value>Pakistan</value>
				<value>USA</value>
				<value>USA</value>
			</list>
		</property>

		<!-- results in a setAddressSet(java.util.Set) call -->
		<property name="addressSet">
			<set>
				<value>INDIA</value>
				<value>Pakistan</value>
				<value>USA</value>
				<value>USA</value>
			</set>
		</property>

		<!-- results in a setAddressMap(java.util.Map) call -->
		<property name="addressMap">
			<map>
				<entry key="1" value="INDIA" />
				<entry key="2" value="Pakistan" />
				<entry key="3" value="USA" />
				<entry key="4" value="USA" />
			</map>
		</property>

		<!-- results in a setAddressProp(java.util.Properties) call -->
		<property name="addressProp">
			<props>
				<prop key="one">INDIA</prop>
				<prop key="two">Pakistan</prop>
				<prop key="three">USA</prop>
				<prop key="four">USA</prop>
			</props>
		</property>

	</bean>
	
	<!-- Definition for textEditor bean -->
   <bean id="textEditorByName" class="com.tutorialspoint.beansautowiring.TextEditorImpl" 
      autowire="byName">
      <property name="name" value="Generic Text Editor" />
   </bean>

   <!-- Definition for spellChecker bean -->
   <bean id="Checker" class="com.tutorialspoint.dependencyinjection.SpellCheckerImpl">
   </bean>
</beans>