<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="helloWorld" class="com.tutorialspoint.HelloWorld">
		<property name="message" value="Hello World!" />
	</bean>

	<bean id="singletonHelloWorld" class="com.tutorialspoint.HelloWorld" />

	<bean id="prototypeHelloWorld" class="com.tutorialspoint.HelloWorld"
		scope="prototype" />

	<bean id="lifeCycledHelloWorld" class="com.tutorialspoint.beanlifecycle.HelloWorld"
		init-method="init" destroy-method="xmlDefinedDestroy">
		<property name="message" value="Hello World" />
	</bean>
	
	<bean class="com.tutorialspoint.beanlifecycle.InitHelloWorld"/>
	
	<bean id="parentHelloWorld" class="com.tutorialspoint.beandefinitioninheritance.HelloWorld">
      <property name="message1" value="Hello World!"/>
      <property name="message2" value="Hello Second World!"/>
   </bean>

   <bean id="childHelloIndia" class="com.tutorialspoint.beandefinitioninheritance.HelloIndia" parent="parentHelloWorld">
      <property name="message1" value="Hello India!"/>
      <property name="message3" value="Namaste India!"/>
   </bean>
   
   <bean id="beanTemplate" abstract="true">
      <property name="message1" value="Hello World!"/>
      <property name="message2" value="Hello Second World!"/>
      <property name="message3" value="Namaste India!"/>
   </bean>
</beans>